body{
    min-height: 100vh;
    margin :0%;
    padding : 0%;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:white
}

.container{
    position: absolute;
    top: 45%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 20px;
    background: #fafafa;
    border-radius: 2px;
}

.title h1{
    font-size: 30px;
    padding: 3px 0;
    text-align: center;
}

.title p{
    font-size: 20px;
    padding:3px 0;
    text-align: center;
}

.input{
    padding: 10px ;
    border-radius: 2px;
}

.input label{
    display: flex; 
    justify-content: left;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
    color: black;
    margin-top: 10px;
    font-family:Trebuchet MS;
}

.input input{
    font-size: 15px;
    text-align: left;
    padding: 10px;
    width: 500px;
}

button{
    color:white;
    padding: 10px;
    display: flex; 
    justify-content: left;
    margin-left: 10px;
    border:1px solid white;
    background-color: blue;
    border-radius: 5px;
    font-family:  Gill Sans
}
